/* h2,
h1 {
    text-align: center;
} */
.char-card-container {
    display: flex;
    flex-wrap: wrap;
}
.char-card {
    display: flex;
    width: 45%;
    margin: 1em;
    padding: .5em;
    background-color: lightgrey;
}
.cast-card-container {
    display: flex;
    flex-wrap: wrap;
}
.cast-card {
    display: flex;
    width: 45%;
    margin: 1em;
    padding: .5em;
    background-color: lightcoral;
}
/* .gus-button {
    display: block;
    margin: auto;
} */
